* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: lightsalmon;
}

main {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90vw;
}

section {
    background-color: lightseagreen;
    height: 200px;
    width: 200px;
}