body {
    font: normal 15pt Arial;
}

header {
    color: #ffffff;
    text-align: center;
}

section {
    background: #ffffff;
    padding: 15px;
    margin: auto;
    width: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #00000080;
}

div {
    text-align: center;
    padding: 10px;
}

#imagem {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

footer {
    color: #ffffff;
    text-align: center;
    font-style: italic;
}