{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for placeholder in placeholders %}
                <tr>
                    <td>{{ placeholder["type"] }}</td>
                    <td>{{ placeholder["symbol"] }}</td>
                    <td>{{ placeholder["shares"] }}</td>
                    <td>{{ placeholder["price"] }}</td>
                    <td>{{ placeholder["date"] }}</td>
                </tr>
                {% endfor %}
        </tbody>

    </table>
{% endblock %}
