{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Symbol</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{ values["name"] }}</td>
                    <td>{{ price }}</td>
                    <td>{{ values["symbol"] }}</td>
                </tr>
        </tbody>
    </table>
{% endblock %}
