.container {
    background-color: salmon;
    display: flex;
    flex-flow: row wrap;
    align-content: space-evenly;
    height: 400px;
}

.item {
    background-color: aqua;
    border: 1px solid black;
    padding: 40px;
    text-align: center;
}