.container {
    background-color: salmon;
    flex-flow: row wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 300px;
}

.item {
    background-color: aqua;
    border: 1px solid black;
    text-align: center;
}